.mainBackground{
    position:relative;
	background-image:url(../_images/Rosette.png);
    background-repeat:no-repeat;
    margin:auto;
    width:1280px;
}

.dcrlogo{
    clear:both;
    background-image:url(../_images/dcrlogo.png);
    background-repeat:no-repeat;
    margin-top:50px;
}

.planezsphere{
    background-image:url(../_images/banner.png);
    background-repeat:no-repeat;
}
.loginButton {
	background-color:transparent;
}
.leftColumn{
	text-align:center;
}
.img {
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
}



