.mainBackground{
    position:relative;
	background-image:url(../_images/Rosette.png);
    background-repeat:no-repeat;
    margin:auto;
    width:1280px;
}

.dcrlogo{
    clear:both;
    background-image:url(../_images/dcrlogo.png);
    background-repeat:no-repeat;
    margin-top:50px;	
}

.planezsphere{
    background-image:url(../_images/banner.png);
    background-repeat:no-repeat;
    -webkit-border-radius:10px !important;
	-moz-border-radius:10px !important;
	-o-border-radius:10px !important;
	border-radius:10px !important;
	height:100px;
}
.loginButton {
	background-color:transparent;
}
.leftColumn{
	text-align:right;
	padding:30px;
	//border:1px solid white;
}
.rightColumn{
	text-align:left;
	padding:30px;
}
.img {
	-webkit-border-radius:10px !important;
	-moz-border-radius:10px !important;
	-o-border-radius:10px !important;
	border-radius:10px !important;
	-webkit-box-shadow: 3px 3px 5px black;
	margin:10px 0 0 0;
}



