.saturn{
	position:absolute;
	top:200px;
	left:600px;
	-webkit-animation:saturnkeyframes 40s linear infinite;	
	-moz-animation:saturnkeyframes 40s linear infinite;	
	-o-animation:saturnkeyframes 40s linear infinite;	
	animation:saturnkeyframes 40s linear infinite;
}


@-webkit-keyframes saturnkeyframes{
	0%{left:800px;top:200px;}
	5%{left:788px;top:123px;}
	10%{left:752px;top:53px;}
	15%{left:697px;top:-2px;}
	20%{left:627px;top:-38px;}
	25%{left:550px;top:-50px;}
	30%{left:473px;top:-38px;}
	35%{left:403px;top:-2px;}
	40%{left:348px;top:53px;}
	45%{left:312px;top:123px;}
	50%{left:300px;top:200px;}
	55%{left:312px;top:277px;}
	60%{left:348px;top:347px;}
	65%{left:403px;top:402px;}
	70%{left:473px;top:438px;}
	75%{left:550px;top:450px;}
	80%{left:627px;top:438px;}
	85%{left:697px;top:402px;}
	90%{left:752px;top:347px;}
	95%{left:788px;top:277px;}
	100%{left:800px;top:200px;}
}
@-moz-keyframes saturnkeyframes{
	0%{left:800px;top:200px;}
	5%{left:788px;top:123px;}
	10%{left:752px;top:53px;}
	15%{left:697px;top:-2px;}
	20%{left:627px;top:-38px;}
	25%{left:550px;top:-50px;}
	30%{left:473px;top:-38px;}
	35%{left:403px;top:-2px;}
	40%{left:348px;top:53px;}
	45%{left:312px;top:123px;}
	50%{left:300px;top:200px;}
	55%{left:312px;top:277px;}
	60%{left:348px;top:347px;}
	65%{left:403px;top:402px;}
	70%{left:473px;top:438px;}
	75%{left:550px;top:450px;}
	80%{left:627px;top:438px;}
	85%{left:697px;top:402px;}
	90%{left:752px;top:347px;}
	95%{left:788px;top:277px;}
	100%{left:800px;top:200px;}
}
@-o-keyframes saturnkeyframes{
	0%{left:800px;top:200px;}
	5%{left:788px;top:123px;}
	10%{left:752px;top:53px;}
	15%{left:697px;top:-2px;}
	20%{left:627px;top:-38px;}
	25%{left:550px;top:-50px;}
	30%{left:473px;top:-38px;}
	35%{left:403px;top:-2px;}
	40%{left:348px;top:53px;}
	45%{left:312px;top:123px;}
	50%{left:300px;top:200px;}
	55%{left:312px;top:277px;}
	60%{left:348px;top:347px;}
	65%{left:403px;top:402px;}
	70%{left:473px;top:438px;}
	75%{left:550px;top:450px;}
	80%{left:627px;top:438px;}
	85%{left:697px;top:402px;}
	90%{left:752px;top:347px;}
	95%{left:788px;top:277px;}
	100%{left:800px;top:200px;}
}
@keyframes saturnkeyframes{
	0%{left:800px;top:200px;}
	5%{left:788px;top:123px;}
	10%{left:752px;top:53px;}
	15%{left:697px;top:-2px;}
	20%{left:627px;top:-38px;}
	25%{left:550px;top:-50px;}
	30%{left:473px;top:-38px;}
	35%{left:403px;top:-2px;}
	40%{left:348px;top:53px;}
	45%{left:312px;top:123px;}
	50%{left:300px;top:200px;}
	55%{left:312px;top:277px;}
	60%{left:348px;top:347px;}
	65%{left:403px;top:402px;}
	70%{left:473px;top:438px;}
	75%{left:550px;top:450px;}
	80%{left:627px;top:438px;}
	85%{left:697px;top:402px;}
	90%{left:752px;top:347px;}
	95%{left:788px;top:277px;}
	100%{left:800px;top:200px;}
}