.saturn{
	position:absolute;
	top:200px;
	left:600px;
	-webkit-animation:saturnkeyframes 40s linear infinite;	
	-moz-animation:saturnkeyframes 40s linear infinite;	
	-o-animation:saturnkeyframes 40s linear infinite;	
	animation:saturnkeyframes 40s linear infinite;
}

.earth{
	position:absolute;
	top:200px;
	left:200px;
	-webkit-animation:earthkeyframes 40s linear infinite;
	-moz-animation:earthkeyframes 40s linear infinite;	
	-o-animation:earthkeyframes 40s linear infinite;	
	animation:earthkeyframes 40s linear infinite;
}
.jupiter{
	position:absolute;
	top:200px;
	left:200px;
	-webkit-animation:jupiterkeyframes 40s linear infinite;
	-moz-animation:jupiterkeyframes 40s linear infinite;	
	-o-animation:jupiterkeyframes 40s linear infinite;	
	animation:jupiterkeyframes 40s linear infinite;
}
.mars{
	position:absolute;
	top:200px;
	left:200px;
	-webkit-animation:marskeyframes 40s linear infinite;
	-moz-animation:marskeyframes 40s linear infinite;	
	-o-animation:marskeyframes 40s linear infinite;	
	animation:marskeyframes 40s linear infinite;
}


@-webkit-keyframes saturnkeyframes{
	0%{left:800px;top:200px;}
	5%{left:788px;top:123px;}
	10%{left:752px;top:53px;}
	15%{left:697px;top:-2px;}
	20%{left:627px;top:-38px;}
	25%{left:550px;top:-50px;}
	30%{left:473px;top:-38px;}
	35%{left:403px;top:-2px;}
	40%{left:348px;top:53px;}
	45%{left:312px;top:123px;}
	50%{left:300px;top:200px;}
	55%{left:312px;top:277px;}
	60%{left:348px;top:347px;}
	65%{left:403px;top:402px;}
	70%{left:473px;top:438px;}
	75%{left:550px;top:450px;}
	80%{left:627px;top:438px;}
	85%{left:697px;top:402px;}
	90%{left:752px;top:347px;}
	95%{left:788px;top:277px;}
	100%{left:800px;top:200px;}
}
@-moz-keyframes saturnkeyframes{
	0%{left:800px;top:200px;}
	5%{left:788px;top:123px;}
	10%{left:752px;top:53px;}
	15%{left:697px;top:-2px;}
	20%{left:627px;top:-38px;}
	25%{left:550px;top:-50px;}
	30%{left:473px;top:-38px;}
	35%{left:403px;top:-2px;}
	40%{left:348px;top:53px;}
	45%{left:312px;top:123px;}
	50%{left:300px;top:200px;}
	55%{left:312px;top:277px;}
	60%{left:348px;top:347px;}
	65%{left:403px;top:402px;}
	70%{left:473px;top:438px;}
	75%{left:550px;top:450px;}
	80%{left:627px;top:438px;}
	85%{left:697px;top:402px;}
	90%{left:752px;top:347px;}
	95%{left:788px;top:277px;}
	100%{left:800px;top:200px;}
}
@-o-keyframes saturnkeyframes{
	0%{left:800px;top:200px;}
	5%{left:788px;top:123px;}
	10%{left:752px;top:53px;}
	15%{left:697px;top:-2px;}
	20%{left:627px;top:-38px;}
	25%{left:550px;top:-50px;}
	30%{left:473px;top:-38px;}
	35%{left:403px;top:-2px;}
	40%{left:348px;top:53px;}
	45%{left:312px;top:123px;}
	50%{left:300px;top:200px;}
	55%{left:312px;top:277px;}
	60%{left:348px;top:347px;}
	65%{left:403px;top:402px;}
	70%{left:473px;top:438px;}
	75%{left:550px;top:450px;}
	80%{left:627px;top:438px;}
	85%{left:697px;top:402px;}
	90%{left:752px;top:347px;}
	95%{left:788px;top:277px;}
	100%{left:800px;top:200px;}
}
@keyframes saturnkeyframes{
	0%{left:800px;top:200px;}
	5%{left:788px;top:123px;}
	10%{left:752px;top:53px;}
	15%{left:697px;top:-2px;}
	20%{left:627px;top:-38px;}
	25%{left:550px;top:-50px;}
	30%{left:473px;top:-38px;}
	35%{left:403px;top:-2px;}
	40%{left:348px;top:53px;}
	45%{left:312px;top:123px;}
	50%{left:300px;top:200px;}
	55%{left:312px;top:277px;}
	60%{left:348px;top:347px;}
	65%{left:403px;top:402px;}
	70%{left:473px;top:438px;}
	75%{left:550px;top:450px;}
	80%{left:627px;top:438px;}
	85%{left:697px;top:402px;}
	90%{left:752px;top:347px;}
	95%{left:788px;top:277px;}
	100%{left:800px;top:200px;}
}
@-webkit-keyframes earthkeyframes{
	0%{left:312px;top:277px;}
	5%{left:348px;top:347px;}
	10%{left:403px;top:402px;}
	15%{left:473px;top:438px;}
	20%{left:550px;top:450px;}
	25%{left:627px;top:438px;}
	30%{left:697px;top:402px;}
	35%{left:752px;top:347px;}
	40%{left:788px;top:277px;}
	45%{left:800px;top:200px;}
	50%{left:800px;top:200px;}
	55%{left:788px;top:123px;}
	60%{left:752px;top:53px;}
	65%{left:697px;top:-2px;}
	70%{left:627px;top:-38px;}
	75%{left:550px;top:-50px;}
	80%{left:473px;top:-38px;}
	85%{left:403px;top:-2px;}
	90%{left:348px;top:53px;}
	95%{left:312px;top:123px;}
	100%{left:300px;top:200px;}
}
@-moz-keyframes earthkeyframes{
	0%{left:312px;top:277px;}
	5%{left:348px;top:347px;}
	10%{left:403px;top:402px;}
	15%{left:473px;top:438px;}
	20%{left:550px;top:450px;}
	25%{left:627px;top:438px;}
	30%{left:697px;top:402px;}
	35%{left:752px;top:347px;}
	40%{left:788px;top:277px;}
	45%{left:800px;top:200px;}
	50%{left:800px;top:200px;}
	55%{left:788px;top:123px;}
	60%{left:752px;top:53px;}
	65%{left:697px;top:-2px;}
	70%{left:627px;top:-38px;}
	75%{left:550px;top:-50px;}
	80%{left:473px;top:-38px;}
	85%{left:403px;top:-2px;}
	90%{left:348px;top:53px;}
	95%{left:312px;top:123px;}
	100%{left:300px;top:200px;}
}
@-o-keyframes earthkeyframes{
	0%{left:312px;top:277px;}
	5%{left:348px;top:347px;}
	10%{left:403px;top:402px;}
	15%{left:473px;top:438px;}
	20%{left:550px;top:450px;}
	25%{left:627px;top:438px;}
	30%{left:697px;top:402px;}
	35%{left:752px;top:347px;}
	40%{left:788px;top:277px;}
	45%{left:800px;top:200px;}
	50%{left:800px;top:200px;}
	55%{left:788px;top:123px;}
	60%{left:752px;top:53px;}
	65%{left:697px;top:-2px;}
	70%{left:627px;top:-38px;}
	75%{left:550px;top:-50px;}
	80%{left:473px;top:-38px;}
	85%{left:403px;top:-2px;}
	90%{left:348px;top:53px;}
	95%{left:312px;top:123px;}
	100%{left:300px;top:200px;}
}
@keyframes earthkeyframes{
	0%{left:312px;top:277px;}
	5%{left:348px;top:347px;}
	10%{left:403px;top:402px;}
	15%{left:473px;top:438px;}
	20%{left:550px;top:450px;}
	25%{left:627px;top:438px;}
	30%{left:697px;top:402px;}
	35%{left:752px;top:347px;}
	40%{left:788px;top:277px;}
	45%{left:800px;top:200px;}
	50%{left:800px;top:200px;}
	55%{left:788px;top:123px;}
	60%{left:752px;top:53px;}
	65%{left:697px;top:-2px;}
	70%{left:627px;top:-38px;}
	75%{left:550px;top:-50px;}
	80%{left:473px;top:-38px;}
	85%{left:403px;top:-2px;}
	90%{left:348px;top:53px;}
	95%{left:312px;top:123px;}
	100%{left:300px;top:200px;}
}
@-webkit-keyframes jupiterkeyframes{
	0%{left:627px;top:438px;}
	5%{left:697px;top:402px;}
	10%{left:752px;top:347px;}
	15%{left:788px;top:277px;}
	20%{left:800px;top:200px;}
	25%{left:800px;top:200px;}
	30%{left:788px;top:123px;}
	35%{left:752px;top:53px;}
	40%{left:697px;top:-2px;}
	45%{left:627px;top:-38px;}
	50%{left:550px;top:-50px;}
	55%{left:473px;top:-38px;}
	60%{left:403px;top:-2px;}
	65%{left:348px;top:53px;}
	70%{left:312px;top:123px;}
	75%{left:300px;top:200px;}
	80%{left:312px;top:277px;}
	85%{left:348px;top:347px;}
	90%{left:403px;top:402px;}
	95%{left:473px;top:438px;}
	100%{left:550px;top:450px;}
}
@-moz-keyframes jupiterkeyframes{
	0%{left:627px;top:438px;}
	5%{left:697px;top:402px;}
	10%{left:752px;top:347px;}
	15%{left:788px;top:277px;}
	20%{left:800px;top:200px;}
	25%{left:800px;top:200px;}
	30%{left:788px;top:123px;}
	35%{left:752px;top:53px;}
	40%{left:697px;top:-2px;}
	45%{left:627px;top:-38px;}
	50%{left:550px;top:-50px;}
	55%{left:473px;top:-38px;}
	60%{left:403px;top:-2px;}
	65%{left:348px;top:53px;}
	70%{left:312px;top:123px;}
	75%{left:300px;top:200px;}
	80%{left:312px;top:277px;}
	85%{left:348px;top:347px;}
	90%{left:403px;top:402px;}
	95%{left:473px;top:438px;}
	100%{left:550px;top:450px;}
}
@-o-keyframes jupiterkeyframes{
	0%{left:627px;top:438px;}
	5%{left:697px;top:402px;}
	10%{left:752px;top:347px;}
	15%{left:788px;top:277px;}
	20%{left:800px;top:200px;}
	25%{left:800px;top:200px;}
	30%{left:788px;top:123px;}
	35%{left:752px;top:53px;}
	40%{left:697px;top:-2px;}
	45%{left:627px;top:-38px;}
	50%{left:550px;top:-50px;}
	55%{left:473px;top:-38px;}
	60%{left:403px;top:-2px;}
	65%{left:348px;top:53px;}
	70%{left:312px;top:123px;}
	75%{left:300px;top:200px;}
	80%{left:312px;top:277px;}
	85%{left:348px;top:347px;}
	90%{left:403px;top:402px;}
	95%{left:473px;top:438px;}
	100%{left:550px;top:450px;}
}
@keyframes jupiterkeyframes{
	0%{left:627px;top:438px;}
	5%{left:697px;top:402px;}
	10%{left:752px;top:347px;}
	15%{left:788px;top:277px;}
	20%{left:800px;top:200px;}
	25%{left:800px;top:200px;}
	30%{left:788px;top:123px;}
	35%{left:752px;top:53px;}
	40%{left:697px;top:-2px;}
	45%{left:627px;top:-38px;}
	50%{left:550px;top:-50px;}
	55%{left:473px;top:-38px;}
	60%{left:403px;top:-2px;}
	65%{left:348px;top:53px;}
	70%{left:312px;top:123px;}
	75%{left:300px;top:200px;}
	80%{left:312px;top:277px;}
	85%{left:348px;top:347px;}
	90%{left:403px;top:402px;}
	95%{left:473px;top:438px;}
	100%{left:550px;top:450px;}
}
@-webkit-keyframes marskeyframes{
	0%{left:473px;top:-38px;}
	5%{left:403px;top:-2px;}
	10%{left:348px;top:53px;}
	15%{left:312px;top:123px;}
	20%{left:300px;top:200px;}
	25%{left:312px;top:277px;}
	30%{left:348px;top:347px;}
	35%{left:403px;top:402px;}
	40%{left:473px;top:438px;}
	45%{left:550px;top:450px;}
	50%{left:627px;top:438px;}
	55%{left:697px;top:402px;}
	60%{left:752px;top:347px;}
	65%{left:788px;top:277px;}
	70%{left:800px;top:200px;}
	75%{left:800px;top:200px;}
	80%{left:788px;top:123px;}
	85%{left:752px;top:53px;}
	90%{left:697px;top:-2px;}
	95%{left:627px;top:-38px;}
	100%{left:550px;top:-50px;}
}